.target-hole {
  width: 20px;
  height: 20px;
  border-radius: 0px;
  background-color: #3399FF;
}

.target-hole-hit {
  width: 20px;
  height: 20px;
  border-radius: 0px;
  background-color: #900000;
}

.target-hole-miss {
  width: 20px;
  height: 20px;
  border-radius: 0px;
  background-color: white;
}

.ship {
  width: 20px;
  height: 20px;
  border-radius: 0px;
  background-color: #999999;

}

.ocean {
  width:500px;
  margin-right: auto;
  margin-left: auto;
}

.myOcean {
  width:500px;
  margin-right: auto;
  margin-left: auto;
}

#button2 {
  width: 100px;
  height: 100px;
}
