.opOcean, .myOcean {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.opOcean div, .myOcean div {
   float: left;
   width: 20px;
   height: 20px;
   border-style: solid;
   border-color: lightgray; 
   border-width: 1px;

}

.water {
  background-color: DodgerBlue;
}

.miss {
  background-color: white;
}

.hit  {
  background-color: Crimson !important;
}

.bow.h {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #848482;

}

.h {
  background-color: #848482;
}

.stern.h {
  border-bottom-right-radius: 25%;
  border-top-right-radius: 25%;
  background-color: #848482;
}

.bow.v {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-color: #848482;
}

.v {
  background-color: #848482;
}

.stern.v {
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  background-color: #848482;
}

