<div class="ocean text-center">
                <div class="btn-group" role="group" aria-label="First group" ng-repeat="r in [1,2,3,4,5,6,7,8,9,10]">
                    <div class="btn-group" role="group" aria-label="First group" ng-repeat="c in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']">
                        <button type="button" id="{{c}}{{r}}" class="btn btn-default" ng-class="evalIndex($parent.$index*10+$index)" ng-click="ocean.fireMissile(r, c)">&nbsp;</button>
                    </div>
                </div>
            </div>
